<a href="https://colab.research.google.com/github/assuerolopo/ciencia_de_dados/blob/main/aula1_eng438.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

In [32]:
dados = pd.read_excel('/content/drive/MyDrive/volleyball2019_aula1.xlsx')

In [33]:
dados.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        7
Pontos                0
dtype: int64

In [34]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                30 non-null     object
 1   Ranking Geral       30 non-null     int64
 2   Ranking em 2020     30 non-null     int64
 3   Nacionalidade       30 non-null     object
 4   Posição             30 non-null     object
 5   Data de Nascimento  30 non-null     object
 6   Altura (cm)         30 non-null     int64
 7   Peso (kg)           30 non-null     int64
 8   Salto (cm)          30 non-null     int64
 9   Bloqueio (cm)       30 non-null     int64
 10  Mão Dominante       27 non-null     object
 11  Pontos do país      23 non-null     float64
 12  Pontos              30 non-null     float64
dtypes: float64(2), int64(6), object(5)
memory usage: 3.2+ KB

In [26]:
dados.describe()

,Ranking Geral,Ranking em 2020,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Pontos do país,Pontos
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,23.000000,30.000000
mean,351.166667,266.300000,187.833333,72.133333,307.633333,296.366667,181.391304,492.541667
std,390.695497,497.398415,8.436715,7.445125,17.440506,16.283021,89.315956,181.231626
min,3.000000,0.000000,168.000000,55.000000,250.000000,245.000000,30.000000,345.000000
25%,52.500000,4.500000,183.500000,68.000000,302.000000,289.250000,108.000000,373.375000
50%,183.500000,21.000000,190.000000,74.000000,311.000000,300.000000,220.000000,421.250000
75%,549.250000,251.500000,194.000000,77.750000,315.750000,308.000000,220.000000,549.987500
max,1601.000000,1837.000000,201.000000,84.000000,336.000000,320.000000,320.000000,1190.000000

In [27]:
dados.loc[dados["Salto (cm)"] > 319]["Nome"]

0                Ting Zhu
3       Tijana BoÅ¡koviÄ
4             Paola Egonu
9      Brayelin MartÃ­nez
12         Melissa Vargas
22    Nataliya Goncharova
Name: Nome, dtype: object

In [39]:
dados["Nacionalidade"].unique()

array(['China', 'Brazil', 'Serbia', 'Italy', 'Dominican Republic', 'USA',
       'Japan', 'Turkey', 'Cuba', 'Russia', 'Russia, Ukraine', 'Mexico'],
      dtype=object)

In [41]:
dados['Nacionalidade'].value_counts()

Brazil                7
USA                   6
China                 3
Dominican Republic    3
Turkey                3
Serbia                2
Italy                 1
Japan                 1
Cuba                  1
Russia                1
Russia, Ukraine       1
Mexico                1
Name: Nacionalidade, dtype: int64

In [28]:
dados1 = dados.set_index('Nome', drop = True) #Transforma coluna nome em index
dados1

,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
Nome,,,,,,,,,,,,
Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,NaN,573.00
Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,NaN,540.20
Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,NaN,417.00
Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,NaN,404.00
Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,NaN,373.00
Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,NaN,358.30
Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,NaN,345.00

In [29]:
dados[["Peso (kg)", "Nome"]]

    Peso (kg)                   Nome
0          78               Ting Zhu
1          68        Macris Carneiro
2          65    Gabriela GuimarÃ£es
3          84      Tijana BoÅ¡koviÄ
4          70            Paola Egonu
5          68    Bethania De La Cruz
6          75        Kelsey Robinson
7          65          Mayu Ishikawa
8          77           Andrea Drews
9          83     Brayelin MartÃ­nez
10         55    Simge Åebnem AkÃ¶z
11         78            Yingying Li
12         76         Melissa Vargas
13         60         LÃ©ia Nicolosi
14         81             Mara LeÃ£o
15         75            Karsta Lowe
16         68       Jineiry Martinez
17         62           Mayany Souza
18         83           TeTori Dixon
19         78         Irina Koroleva
20         78        Caroline Gattaz
21         73     Ana Carolina Silva
22         75    Nataliya Goncharova
23         68       Maja OgnjenoviÄ
24         72         Ebrar Karakurt
25         74      Eda Erdem DÃ¼ndar
26         58        Samantha Bricio
27         68          Micha Hancock
28         75          Yuanyuan Wang
29         74  Jordan Larson-Burbach

In [43]:
dados['Pontos do país'] = dados['Pontos do país'].fillna('0')